<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page Camping</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/kdh/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="./main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>

<body>
    <header>
        <div class="p-fix">
            <div class="header-container">
                <div class="header-top">
                    <div class="top-right">
                        <span>
                            <th:block th:if="${#strings.isEmpty(session.LoginIn)}">
                                <a th:href="@{/register}">회원가입</a>
                            </th:block>
                        </span>

                        <span>
                            <th:block th:if="${#strings.isEmpty(session.LoginIn)}">
                                <a th:href="@{/login}">로그인</a>
                            </th:block>

                           
                        </span>
                        <span>
                            
                        </span>
                    </div>
                </div>
                <div class="header-Line">
                    <div class="Logo">
                        <h3><a href="/index">Youtube Tag</a></h3>
                    </div>
                    <div class="header-menu">
                        <ul class="menuList">
                            <li>
                                <a href="/youtube.com">유튜브 바로가기</a>
                            </li>
                            <li>
                                <a href="/myebu">나의 학습 정보</a>
                            </li>
                            <li>
                                <a href="/myebuing">학습 진행 상황</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-img">
            <div class="main-search">
                <h2>영상 검색</h2>
                <div class="search-form">
                    <form action="/place/place" method="get">
                        <fieldset style="border: 0;">
                            <legend></legend>
                            <input type="text" name="search" id="totalsearch" class="searchcmp" placeholder="영상 검색"
                                maxlength="14" autocomplete="off">
                            <button class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </fieldset>
                    </form>
                    
                </div>
            </div>
        </div>
    </header>
    <main>
        <section>
            <div>
                <div class="best-menu">
                    <div class="menu-info">
                        <h2>BEST CAMP</h2>
                        <span>별이 빛나는 밤 펼쳐지는 캠핑장을 <br>여러분께 소개합니다!</span>
                    </div>
                    <div class="bestList" >
                        <div class="best-box" th:each=" br : ${BestPlace}">
                            <div class="best-img" th:each="m : ${main}" th:if="${br.placeCode == m.placeCode}">
                                <a th:href="@{/place/placedetail?(placeCode=${br.placeCode})}">
                                    <img th:src="@{|/${m.folderName}/thumb_${m.orgName}|}" alt="${file.orgName}">
                                </a>
                            </div>
                            <div class="Listexplan">
                                <p>[[${br.placeName}]]</p>
                                <p>[[${br.placeContent4}]]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-main-1-wrap">
            <div class="section-main-1">
                <div class="main-wrap">
                    <div class="wrap-cotent1">
                        <div>
                            <i class="fa-solid fa-bell"></i>
                        </div>
                        <div>
                            <span>캠핑장 위치</span>
                        </div>
                        <div>
                            <p class="comment">시끄러운 도시를 벗어나 자연 속에서<br> 편안한 휴식을 즐기고 싶으시거나 지친 일상을 뒤로한 채 특별한 경험을 즐기고 싶다면<br> 근처 캠핑장을 찾아보세요</p>
                        </div>
                        <button type="button" class="more-btn"><a href=""><a href="/place/map">SHOW MORE</a></a></button>
                    </div>
                </div>
                <div class="main-wrap">
                    <div class="wrap-cotent1">
                        <div>
                            <i class="fa-solid fa-lightbulb"></i>
                        </div>
                        <div>
                            <span> 캠핑 팁</span>
                        </div>
                        <div>
                            <p class="comment">캠핑에 필요한 정보들을 확인해보세요
                            </p>
                        </div>
                        <button type="button" class="more-btn"><a href="/place/placetool">SHOW MORE</a></button>
                    </div>
                </div>
                <div class="main-wrap">
                    <div class="wrap-cotent1">
                        <div>
                            <i class="fa-solid fa-cloud"></i>
                        </div>
                        <div class="weather">
                            <span class="nowtime"></span>
                            <span>현재날씨</span>
                            <select name="city" id="city" onchange="selCity(this.value)">
                                <option value="">지역선택</option>
                                <option value="Seoul">서울</option>
                                <option value="Busan">부산</option>
                                <option value="Gwangju">광주</option>
                                <option value="Daegu">대구</option>
                                <option value="Daejeon">대전</option>
                                <option value="Ulsan">울산</option>
                                <option value="Incheon">인천</option>
                            </select>
                            <div class="weather-img">
                                <h3 class="SeoulIcon"></h3>
                                <p class="SeoulNowtemp">현재기온:</p>
                            </div>
                        </div>
                        <button type="button" class="more-btn"><a href="/weather">SHOW MORE</a></button>
                    </div>
                </div>
            </div>
        </section>
        <form action="/index" method="get">
            <div class="content-color" id="checked">
                <div class="count-box">
                    <div class="count">
                        0
                    </div>
                    <span>#캠핑장 수</span>
                </div>
                <div class="count-box">
                    <div class="count">
                        0
                    </div>
                    <span>#리뷰 갯수</span>
                </div>
                <div class="count-box">
                    <div class="count">
                        0
                    </div>
                    <span>#회원 수</span>
                </div>
            </div>
        </form>
        <section>
            <div class="review-title">
                <h1>RECENT REVIEW</h1>
            </div>
            <div class="section-main-2">
                <th:block th:if="${!RecentReview.isEmpty()}">
                    <th:block th:each="rr : ${RecentReview}">
                        <th:block th:if="${rr.orgName == null}">
                            <div class="section-content-box">
                                <a th:href="@{/review/view?(id=${rr.id})}">
                                    <div class="icon-box">
                                        <span><i class="fa-solid fa-tags"></i></span>
                                    </div>
                                    <div class="review-img">
                                            <div class="img-box">
                                                <img src="/images/ssh/refiles/noimages.png" alt="등록된 사진이 없습니다.">
                                            </div>
                                        <div>
                                            <h4>장소 : [[${rr.campName}]]</h4>
                                        </div>
                                        <div>
                                            <h4>제목 : [[${rr.subject}]]</h4>
                                        </div>
                                        <div class="rrcontent">내용 : [[${rr.content}]]</div>
                                    </div>
                                </a>
                            </div>
                        </th:block>
                        <th:block th:unless="${rr.orgName == null}">
                            <div class="section-content-box">
                                <a th:href="@{/review/view?(id=${rr.id})}">
                                    <div class="icon-box">
                                        <span><i class="fa-solid fa-tags"></i></span>
                                    </div>
                                    <div class="review-img">
                                        <div class="img-box">
                                            <img th:src="@{|/${rr.folderName}/${rr.savedFileName}|}" alt="${rr.orgName}">
                                        </div>
                                        <div>
                                            <h4>장소 : [[${rr.campName}]]</h4>
                                        </div>
                                        <div>
                                            <h4>제목 : [[${rr.subject}]]</h4>
                                        </div>
                                        <div class="rrcontent">내용 : [[${rr.content}]]</div>
                                    </div>
                                </a>
                            </div>
                        </th:block>
                    </th:block>
                </th:block>
                <th:block th:unless="${!RecentReview.isEmpty()}">
                    <div class="section-content-box">
                        <div class="icon-box">
                            <span><i class="fa-solid fa-tags"></i></span>
                        </div>
                        <div class="review-img">
                            <div class="img-box">
                                <h4>등록된 이미지가 없습니다.</h4>
                            </div>
                            <div>
                                <h4>등록된 리뷰가 없습니다.</h4>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
            <div>
                <button class="scroll-TopBtn"><i class="fa-solid fa-angle-up"></i><br>TOP</button>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-wrap">
                <div>
                    <div class="footer-item">
                        <p>
                            <span><strong>CMW camping travle</strong></span>
                        </p>
                        <p>
                            <span>T. 051-111-1234 | F. 051-222-3456 | E. mailok@mail.com <br></span>
                        </p>
                        <p>
                            <span>부산광역시 서면 123로 561-30(작성자)</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <span>Copyrightⓒ CWM 캠핑 & All rights reserved.</span>
            </div>
            <div>
                <div class="footer-icon">
                    <a><i class="fa-brands fa-square-instagram"></i></a>
                    <a><i class="fa-brands fa-facebook"></i></a>
                    <a><i class="fa-brands fa-tiktok"></i></a>
                    <a><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <script src="/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js"></script>
    <script src="/js/lth/mainWeather.js"></script>
    <script>
        const evented = function () {

            if (!isVisible && checkvisible(checked)) {
                // alert("성공");
                // 카운트를 적용시킬 요소
                const $counter = document.querySelectorAll(".count");

                // 목표 수치
                const max1 = [[${cnt2}]];
                const max2 = [[${cnt3}]];
                const max3 = [[${cnt1}]];

                setTimeout(() => counter($counter[0], max1), 800);
                setTimeout(() => counter($counter[1], max2), 800);
                setTimeout(() => counter($counter[2], max3), 800);
                isVisible = true;
            }

            if (isVisible) {
                window.removeEventListener('scroll', evented);
            }
        }
        window.addEventListener('scroll', evented);
    </script>
</body>

</html>