{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>학습하기</title>>
    <link rel="stylesheet" href="{% static 'css/study.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script><!--plotly 불러오기-->
</head>
<body>
    <header>
        <!-- 로고 링크를 Django URL로 변경 -->
        <a href="{% url 'home' %}" class="logo">
            <img src="{% static 'img/logo.png' %}" alt="logo" style="height: 100px;">
        </a>
    
        <div class="auth">
            <div class="language-container">
                <a href="#" class="language">Language</a>
                <div class="language-dropdown">
                    <a href="{% url 'searchkor' %}">Korean</a>
                    <a href="{% url 'search' %}">English</a>
                </div>
            </div>
    
            <span id="auth-options">
                <!-- 로그인 상태에 따라 사용자 이름 또는 로그인/회원가입 링크 표시 -->
                <a href="{% url 'login' %}" id="login-link" style="display: none;">Login</a>
                <a href="{% url 'signup' %}" id="signup-link" style="display: none;">Sign up</a>
                <span id="username" style="display: none;"></span>
                <a href="#" id="logout-link" style="display: none;">Logout</a>
            </span>
        </div>
    
        <nav>
            <!-- 네비게이션 링크들도 Django URL로 변경 -->
            <a href="{% url 'guide' %}">Guides</a>
            <a href="{% url 'search' %}">Search</a>
            <!-- 네비게이션 링크들도 로그인 여부 확인, 로그인 전에는 가이드 서치만 접근 가능 -->
            <a href="{% url 'mypage' %}" id="mypage-link">My profile</a>
            <div class="dropdown-container">
                <a href="#" class="classing">Classing</a>
                <div class="dropdown">
                    <a href="#" class="dropdown-link" data-url="{% url 'learning' %}">Learning Video</a>
                    <a href="#" class="dropdown-link" data-url="{% url 'learned' %}">Learned Video</a>
                </div>
            </div>
            
        </nav>
    </header>
    <div class="content-container">
    <div class="video-container">
        {% if video %}
            <div id="player"></div>
            <div class="info">
                <h2>{{ video.title }}</h2>
                <div class="view-channel-info"></div>
                <p>Views: {{ video.viewCount }}회</p>
                <p>Channel: {{ video.channelTitle }}</p>
            </div>
        </div>
        {% else %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </div>

    <div id="analysis-result" class="keywords-container" style="display: none;">
        <div class="top-nouns-section">
            <h2>Main Noun Keywords (TF-IDF)</h2>
            <ul class="top-nouns" id="top-nouns"></ul>
        </div>
        <div class="stage-list-section">
            <h2>Bloom's Taxonomy Levels</h2>
            <ul class="stage-list" id="stage-segments"></ul>
        </div>
        <div class="charts-container">
            <div class="result-section">
                <div id="donut-chart-wrapper">
                    <h2>Donut chart by Bloom's Taxonomy levels</h2>
                    <div id="donut-chart"></div>
                </div>
            </div>
            <div class="result-section">
                <div id="dot-chart-wrapper">
                <h2>A time flow graph by Bloom's Taxonomy levels</h2>
                <div id="dot-graph"></div>
            </div>
            </div>
        </div>
        <div class="result-buttons">
            <button id="save-analysis" class="button">Save to My Learning</button>
            <button id="close-without-saving" class="button">Close Without Saving</button>
        </div>
        
    </div>

    <div class="controls">
        <p>Select Video Language
            <br>
            <label><input type="radio" name="std_lang" value="KR" checked> Korean</label>
            <label><input type="radio" name="std_lang" value="EN"> English</label>
        </p>
        
        <button id="save-learning-video" class="button">Save to My Videos</button>
        <br>
        <button id="analyze-video">Analyze</button>
        <div id="loading-message">Loading...</div>
        <div id="spinner" style="display:none;"></div> <!-- 로딩 애니메이션 -->
    </div>

    <div id="return-link-container">
        <a href="{% url 'search' %}" id="return-link">Return to Search Results</a>
    </div>
    
    <script>
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        var player;
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                videoId: '{{ video.videoId }}',
                events: { 'onReady': onPlayerReady }
            });
        }
        function onPlayerReady(event) { event.target.playVideo(); }

        document.getElementById("save-learning-video").addEventListener("click", function() {
            const selectedLang = document.querySelector('input[name="std_lang"]:checked').value;
            fetch("{% url 'save_learning_video' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                body: JSON.stringify({
                    title: "{{ video.title }}",
                    vid: "{{ video.videoId }}",
                    setTime: "{{ video.duration_seconds }}",
                    uploader: "{{ video.channelTitle }}",
                    view_count: "{{ video.viewCount }}",
                    std_lang: selectedLang
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) alert("The video has been saved to the learning list.");
            })
            .catch(error => console.error("Error Saving:", error));
        });

        document.getElementById("analyze-video").addEventListener("click", function() {
            document.getElementById("loading-message").style.display = "block";
            document.getElementById("spinner").style.display = "block";
            const selectedLang = document.querySelector('input[name="std_lang"]:checked').value;
            const videoId = "{{ video.videoId }}";
            const setTime = "{{ video.duration_seconds }}";

            console.log("Starting extraction...");
            document.getElementById("return-link-container").style.display = "none";
            fetch("{% url 'run_extractor_and_save_to_db' %}", {  
                method: "POST",
                headers: { "Content-Type": "application/json", "X-CSRFToken": "{{ csrf_token }}" },
                body: JSON.stringify({
                    video_id: videoId,
                    setTime: setTime,
                    std_lang: selectedLang,
                    title: "{{ video.title }}",
                    uploader: "{{ video.channelTitle }}",
                    view_count: "{{ video.viewCount }}"
                }) 
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById("loading-message").style.display = "none";
                document.getElementById("spinner").style.display = "none";
                console.log("Extraction response:", data); 
                if (data.success) {
                    // 기존 데이터가 있다면 바로 분석 실행
                    if (data.message === "Data already exists, proceeding to analysis.") {
                        return runAnalysis(videoId);  // 분석 실행
                    }
                    // 데이터가 없을 경우에는 분석하기 진행
                    else {
                        // 데이터가 성공적으로 저장되었음을 알리지만,
                        // 분석 요청은 별도로 클라이언트에서 처리해야 합니다.
                        alert("데이터가 성공적으로 저장되었습니다. 분석을 진행합니다.");
                        return runAnalysis(videoId);
                        document.getElementById("return-link-container").style.display = "block";
                    }
                } else {
                    document.getElementById("loading-message").style.display = "none";
            document.getElementById("spinner").style.display = "none";  // 로딩 애니메이션 숨기기
            // 분석 실패시 링크 다시 보이게 함
            document.getElementById("return-link-container").style.display = "block";
                    alert(data.error || "An error occurred during extraction.");
                }
            })
            .catch(error => {
                document.getElementById("loading-message").style.display = "none";
                document.getElementById("spinner").style.display = "none";
                console.error("Error during extraction:", error);
                alert("An error occurred during extraction.");
                document.getElementById("return-link-container").style.display = "block";
            });
        });


        function runAnalysis(videoId) {
            console.log("Starting analysis for videoId:", videoId);

            const encodedVideoId = encodeURIComponent(videoId);
            fetch(`/run_analysis/${encodedVideoId}/`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}"
                }
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById("loading-message").style.display = "none";
                console.log("Analysis response:", data);

                if (data.success) {
                    // 분석 결과가 있을 경우 표시
                    displayAnalysisResult(data);
                    document.querySelector('.controls').style.display = "none"; 
                } else {
                    alert(data.error || "An error occurred during analysis.");
                    document.getElementById("return-link-container").style.display = "block";
                }
            }) 
            .catch(error => {
                document.getElementById("loading-message").style.display = "none";
                document.getElementById("spinner").style.display = "none";
                console.error("Error during analysis:", error);
                alert("분An error occurred during analysis.");
                document.getElementById("return-link-container").style.display = "block";
            });
        }

        function displayAnalysisResult(data) {
            document.getElementById("analysis-result").style.display = "block";

            const topNounsList = document.getElementById("top-nouns");
            topNounsList.innerHTML = "";
            data.top_nouns.forEach(noun => {
                const li = document.createElement("li");
                li.textContent = `#${noun}`;
                topNounsList.appendChild(li);
            });

            const stageSegmentsList = document.getElementById("stage-segments");
            stageSegmentsList.innerHTML = "";

            // 객체 형식인지 배열 형식인지 확인
            if (Array.isArray(data.stage_segments)) {
            // 배열 형식일 경우
            data.stage_segments.forEach(segment => {
            const li = document.createElement("li");
            li.textContent = segment.replace(/^\d+: /, ""); // 숫자와 콜론 제거
            stageSegmentsList.appendChild(li);
            });
            } else {
            // 객체 형식일 경우
            for (const [stage, segment] of Object.entries(data.stage_segments)) {
                const li = document.createElement("li");
                li.textContent = `${stage}: ${segment}`;
                stageSegmentsList.appendChild(li);
            }
        }

            // HTML에서 div 요소를 직접 가져와 변수로 저장
            var donutChartDiv = document.getElementById('donut-chart');
            var dotGraphDiv = document.getElementById('dot-graph');

            console.log("Donut chart data:", data.donut_chart);
            console.log("Dot graph data:", data.dot_graph);

            // 도넛 차트 렌더링
            try {
                var donutChartData = JSON.parse(data.donut_chart);
                Plotly.newPlot(donutChartDiv, donutChartData.data, donutChartData.layout);
            } catch (error) {
                console.error("Failed to parse donut chart data:", error);
            }

            // 도트 그래프 렌더링
            try {
                var dotGraphData = JSON.parse(data.dot_graph); // JSON 문자열을 객체로 파싱
                // y값이 null인 경우 0으로 처리
                dotGraphData.data.forEach(trace => {
                    trace.y = trace.y.map(yValue => (yValue === null ? 0 : yValue)); // null 값을 0으로 대체
                    trace.marker.color = trace.marker.color.map((color, index) => {
                        // y값이 0인 경우는 색상을 투명으로 설정
                        return trace.y[index] === 0 ? 'rgba(0, 0, 0, 0)' : color; 
                    });
                });
                Plotly.newPlot(dotGraphDiv, dotGraphData.data, dotGraphData.layout); // 그래프 그리기
            } catch (error) {
                console.error("Failed to parse dot graph data:", error);
            }
            alert("Analysis is complete!");
        }

        // 분석 결과를 저장하는 버튼 클릭 시
        document.getElementById("save-analysis").addEventListener("click", function() {
            const videoId = "{{ video.videoId }}";
            const stageSegments = Array.from(document.querySelectorAll("#stage-segments li")).map(li => li.textContent);
            const topNouns = Array.from(document.querySelectorAll("#top-nouns li")).map(li => li.textContent);

            var donutChartDiv = document.getElementById('donut-chart');
            var dotGraphDiv = document.getElementById('dot-graph');

            // 도넛 차트 데이터와 도트 그래프 데이터 가져오기
            const donutChartData = donutChartDiv.data;
            const donutChartLayout = donutChartDiv.layout;
            const dotGraphData = dotGraphDiv.data;
            const dotGraphLayout = dotGraphDiv.layout;

            const donutChartJSON = JSON.stringify({data: donutChartData,layout:donutChartLayout});
            const dotGraphJSON = JSON.stringify({data:dotGraphData,layout:dotGraphLayout});

            fetch("{% url 'save_analysis_result' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                    body: JSON.stringify({
                    video_id: videoId,
                    bloom_stage_segments: stageSegments,
                    top_nouns: topNouns,
                    donut_chart: donutChartJSON,
                    dot_chart: dotGraphJSON
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log("Save analysis response:", data);  // 응답 전체를 콘솔에 출력하여 확인
                if (data.success) {
                    alert("The analysis results have been saved.");
                } else {
                    alert("Error during saving: " + (data.error || "An unknown error has occurred."));
                }
            })
            .catch(error => console.error("Error during saving:", error));
        });
        // "저장하지 않고 닫기" 버튼 클릭 시 홈 화면으로 이동
        document.getElementById("close-without-saving").addEventListener("click", function() {
            window.location.href = "/";  // 홈 화면으로 리다이렉트
        });

        $(document).ready(function() {
    // 기본 상태 설정
    $('#login-link').show();  
    $('#signup-link').show(); 
    $('#username').hide();      

    // 로그인 상태 확인
    $.ajax({
        url: "{% url 'check_login' %}",
        method: "GET",
        success: function(response) {
            if (response.is_logged_in) {
                $('#username').text(response.username).show(); 
                $('#logout-link').show();                      
                $('#login-link').hide();                     
                $('#signup-link').hide();                   
            } else {
                $('#login-link').show();                     
                $('#signup-link').show();                     
                $('#username').hide();                     
                $('#logout-link').hide();                    
            }
        },
        error: function() {
            alert("An error occurred while checking the login status. Please try again later.");
        }
    });

    // 마이페이지 링크 클릭 시 로그인 확인
    $('#mypage-link').on('click', function(e) {
        e.preventDefault();
        $.ajax({
            url: "{% url 'check_login' %}",
            method: "GET",
            success: function(response) {
                if (response.is_logged_in) {
                    window.location.href = "{% url 'mypage' %}";
                } else {
                    alert("Login is required. Please log in.");
                }
            }
        });
    });

    // 드롭다운 링크 클릭 시 로그인 확인
    $('.dropdown-link').on('click', function(e) {
        e.preventDefault();
        const url = $(this).data('url');
        $.ajax({
            url: "{% url 'check_login' %}",
            method: "GET",
            success: function(response) {
                if (response.is_logged_in) {
                    window.location.href = url;
                } else {
                    alert("Login is required. Please log in.");
                }
            }
        });
    });

});

    // 로그아웃 처리
    $('#logout-link').on('click', function(e) {
        e.preventDefault();
        $.ajax({
            url: "{% url 'logout_view' %}",
            method: "GET",
            success: function() {
                window.location.href = "{% url 'home' %}"; 
            },
            error: function() {
                alert("Failed to log out. Please try again.");
            }
        });
    });
    </script>
</body>
</html>