<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지(추후수정)</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <header>
        <div class="top-nav">
            <div class="dropdown-container">
                <a href="#" class="language">Language</a>
                <div class="dropdown">
                    <a href="#">Korean</a>
                    <a href="#">English</a>
                </div>
            </div>
            <a href="#" class="top-link">Login</a>
            <a href="#" class="top-link">Sign up</a>
        </div>
        <div class="bottom-nav">
            <div class="logo">로고</div>
            <nav class="nav-left">
                <a href="#" class="bottom-link">Guides</a>
                <a href="search.html" class="bottom-link">Search</a>
                <a href="#" class="bottom-link">My profile</a>
                <div class="dropdown-container">
                    <a href="#" class="classing">Classing</a>
                    <div class="dropdown">
                        <a href="#">Learning Video</a>
                        <a href="#">Learned Video</a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main>

        <div class="boxes">
            <div class="box green">가이드 페이지</div>
            <a href="search.html" class="box red">
                <div class="box-text">검색창</div>
            </a>

            <div class="box blue">마이페이지</div>
        </div>

    </main>